<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>64405685849-0frqpaj01gb1p74t18atpebslq4544b7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8GgTYJtiniN4XSAZrCZBRuiy-8uyJwdo</string>
	<key>GCM_SENDER_ID</key>
	<string>64405685849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Handbid-iPad</string>
	<key>PROJECT_ID</key>
	<string>handbid-904</string>
	<key>STORAGE_BUCKET</key>
	<string>handbid-904.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64405685849:ios:c5d3e9b7811af5a3385348</string>
	<key>DATABASE_URL</key>
	<string>https://handbid-904.firebaseio.com</string>
</dict>
</plist>